

<div *ngIf="!animeInfos"  fxLayoutAlign="center center">
  <mat-spinner ></mat-spinner>
</div>
<div *ngIf="animeInfos" class="pb-2">

  <div class="display-4">
    {{anime.name}}
  </div>
  <div     class="" fxLayout="row" fxLayoutAlign="center center">
    <div  fxFlex="100%" fxLayoutAlign="center center"
          [style.background]="'url('+animeInfos.wh?.fullImage || 'http://via.placeholder.com/640x360'+')' | safe: 'style'" [style.backgroundPosition]="'center' | safe: 'style'"  [style.backgroundSize]="'cover' | safe: 'style'" ><!-- [style.backgroundColor]="anime.wh?.colors[0] || red" -->

      <div fxFlex="100%"  fxLayoutAlign="center center" class="mask pattern-1">

        <div class="view overlay" fxFlex="100%" fxLayoutAlign="center center">
          <!-- <img class="card-image w-100" *ngIf="anime.wh && anime.wh.fullImage" [src]="anime.image"
               alt="anime.link"> -->
          <img class="img-fluid m-2  z-depth-3" *ngIf="animeInfos.image" [src]="animeInfos.image" alt="anime.link">
          <div class="mask flex-center rgba-black-strong rgba-black-light waves-ligh" dbWavesEffect fxShow.lt-md="false" fxShow.gt-md="true">
            <blockquote class="blockquote bq-success">
              <p class="bq-title">{{animeInfos.name}}</p>
              <p class="text-white">{{animeInfos.summary}}</p>
            </blockquote>
          </div>
        </div>
      </div>

    </div> </div>
  <mat-chip-list class="m-1" fxLayoutAlign="center center">
    <mat-chip *ngFor="let genre of animeInfos.genres">{{genre}}</mat-chip>
  </mat-chip-list>
  <div fxLayout="column" fxLayoutAlign="center center" class="border-top border-bottom m-1">
    <div>{{animeInfos.status}}</div>
    <div>{{animeInfos.rating.current}}/{{animeInfos.rating.max}} with {{animeInfos.rating.vote}} votes</div>
  </div>

  <mat-accordion class="ml-1">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Summary
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{animeInfos.summary}}
    </mat-expansion-panel>
  </mat-accordion>


  <mat-accordion class="ml-1">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Episodes
        </mat-panel-title>
      </mat-expansion-panel-header>


      <cdk-virtual-scroll-viewport fxFlex="100%" style="height: 300px" itemSize="200px">

        <mat-nav-list>
          <mat-list-item (click)="watchEpisode(episode)"  *cdkVirtualFor="let episode of animeInfos.episodes; templateCacheSize: 100; index as i">
            <div matLine>{{ episode }}</div>
            <button mat-icon-button>
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>

      </cdk-virtual-scroll-viewport>

    </mat-expansion-panel>
  </mat-accordion>

  <button (click)="openAnime(animeInfos)">Open</button>
</div>
